/* color scheme sourced from http://khroma.co/generator/ */

:root {
    --moon-mist: #dedeca;
    --antique-bronze: #7d4408;
    --tana: #d7d3b6;
    --irish-coffee: #553f26;
}


* {
    margin:0;
    padding:0;  
}



body {
    color: var(--antique-bronze);
    font-weight: 550;
    background-color: var(--moon-mist);
    font-family: 'Didot', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    
}

header {
    text-align: center;
    background-color: darkgoldenrod;
    width: 100%;
    border-bottom: 10px solid darkolivegreen;
    padding-top:20px;
    
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    text-align: center;
    
    margin-bottom: 10px;
}

/* Navigation Bar Settings */

nav {    
    display: flex;
    flex-direction:row;
    align-content:center; 
    justify-content:center;
    flex-wrap: wrap;
    padding-top: 12px;
}

li {
    display:inline;
    padding: 10px;
    text-decoration: none;
    }



a:link, a:visited {
    text-decoration: none;
    color:white;
}

a:hover {
    color:darkred;
    }

main  {
    padding-top: 10px;
}

form {
/*
    margin-top:50px;
*/
}

/*

section {
    margin-top: 1rem;
}
*/

.text-center {
    text-align: center;
  }
  
.text-right {
    text-align: right;
  }

 
.flexy  {
    display: flex;
    justify-content: center;
}

.bio {

    border:5px solid darkorange;
    display: flex;
    padding: 0 20px;
    
}

.bio img {

    width: 150px;
    border-radius: 50%;
    align-self: center;
    
}

.bio p  {
    padding-left: 5%;
    padding-top: 2%;
    line-height: 1.2;
    font-size: 1em;

}



.work  {
    border:5px solid darkorange;
    margin-top: 5%;
    

}



.smallerprojects

{

display:flex;
justify-content: space-evenly;
margin-left: 10%;
border:5px solid darkorange;
width: 80%;
margin-top: 20px;



}

.largeprojectimage {

    width: 80%;
    border-style: outset;
    border-width: 10px;
    
}

.projectimages {

    width:30%;
    
}

/*

#bioimage {
    width: 30%;
    float: left;
    padding: 20px;
    border-radius: 50%;
    max-width: 100%;
    min-width: auto;
}

*/

/*
#about p {
    position: relative;
    top:20px;
    font-size: 0.8em;
    line-height:1.2;
}

*/

/*

#portfolio {
    margin-top:20%;
    
}
*/

/* Media Queires */

/* Very Small Devices */
@media only screen and (min-width: 436px) {

.bio {
    

}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

header {

    text-align: left;
    padding-left: 20px;
}

nav {

    justify-content: flex-end;
    font-size: 150%;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

