
/* Why have this margin and padding? */
* {
    margin:0;
    padding:0;  
}



body {
    color: white;
    background-color: rgb(68, 67, 67);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

header {

    background-color: rgb(193, 157, 73);
    height: 50%;
    width: 100%;
    line-height: 60px;
    border-bottom: 10px solid darkorange;

}



li {

    display: inline;
    padding: 0 20px;
    text-decoration: none;
    
}

a {

    text-decoration: none;

}

img {

    display: block;
    margin: 20px auto;
}

section {
    padding: 40px 20px;
}

.text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }