/* color scheme sourced from http://khroma.co/generator/ */

:root {
    --moon-mist: #dedeca;
    --antique-bronze: #7d4408;
    --tana: #d7d3b6;
    --irish-coffee: #553f26;
}


* {
    margin: 0;
    padding: 0;
}


body {
    color: var(--irish-coffee);
    font-weight: 550;
    background-color: var(--moon-mist);
    font-family: 'Didot', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

header {
    text-align: center;
    background-color: var(--irish-coffee);
    color: var(--tana);
    width: 100%;
    border-bottom: 5px solid var(--moon-mist);
    padding-top: 20px;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 10px;
}

/* Navigation Bar Settings */

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 12px;
}

li {
    display: inline;
    padding: 10px;
    text-decoration: none;
}


nav a:link,
a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--tana);
}



/* Flexboxes */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.flexy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexy-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* About section formatting */
.bio {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--irish-coffee);
    color: var(--moon-mist);
}

.bio img {

    width: 150px;
    border-radius: 50%;
    align-self: center;

}

.bio p {
    padding-left: 5%;
    padding-top: 2%;
    line-height: 1.2;
    font-size: 1em;
}


/* Portfolio section formatting */

.work {
    margin-top: 5%;
}

.smallerprojects {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10%;
    width: 80%;
    margin-top: 20px;
}


.largeprojectimage {
    border-style: outset;
    border-width: 5px;
    width: 80%;
    object-fit: cover;
}

.largeprojectimage:hover {
    opacity: .6;
}

.projectimages {
    width: 40%;
    border-style: outset;
    border-width: 2px;
}

.projectimages:hover {

    opacity: .6;
}

/* Text over large image */
.imgtext {
    position: absolute;
    color: white;
    font-size: 0.8em;
    background: var(--antique-bronze);
    padding: 20px;
    opacity: .8;
}

.imgtext:hover {
    opacity: 1;
}


.text-input:hover,
button:hover {
    box-shadow: 0 5px 5px rgb(5, 5, 5);
}

/* Contact Form */

#contact {
    margin-top: 20px;
}

#contact p {

    margin: 5px 0;

}

form>p {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    align-items: center;
    width: 40%;

}

form>* {
    margin-bottom: 5%;
}

button {
    width: 50%;
}

label {

    display: block;
    padding-right: 10px;
}

/* Media Queires */

/* Very Small Devices */
@media only screen and (min-width: 436px) {

    /* Switch to row format */
    .bio {
        flex-direction: row;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    header {
        text-align: left;
        padding-left: 20px;
    }

    nav {
        justify-content: flex-end;
        font-size: 150%;
    }

    label {
        padding-left: 50px;

    }

    .bio p {
        font-size: 1.6em;
    }

    .imgtext {
        font-size: 1.6em;
    }



}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    html {
        max-width: 1200px;
        margin: auto;
    }

    label {
        padding-left: 100px;
    }

}

/* Very Large devices */
@media only screen and (min-width: 1400px) {

    html {
        min-width: 100%;
        margin: auto;
    }

    main {
        max-width: 1200px;
        margin: auto;
    }

    main>* {
        width: 100%;
    }

}